.not-found-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
h1{
    font-size: 5rem;
}
p{
    font-size: 2rem;
}
a{
    color: blueviolet;

}